*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: 
            linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(https://i.imgur.com/D3A8BkF.jpg);
    
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 225px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #476df3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-45%,-45%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}
/* Code below is for shiny fun button that redirects to FIRST Robotics, please don't touch it, future me */
.container {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 550px;
    height: 50px;
    position: absolute;
}

.hero-btn {
    width: 550px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #0083ff;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.hero-btn:hover {
    transition: 1s ease-in-out;
    background: #003569;
}

.hero-btn:hover svg {
    stroke-dashoffset: -480;
}

.hero-btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
/* Fun code ends here :( */
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #476df3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.60s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        
    }
    .nav-links ul{
        padding: 30px;
        
    }
}
p{
    text-align: center;
}

